body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('codifyformatter.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.container {
    text-align: center;
    padding: 50px;
    max-width: 1300px;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.459);
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.search-container {
    margin-bottom: 20px;
}

#search-input {
    padding: 10px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 40%;
    
}

#search-btn {
    padding: 10px 0px;
    height: 47px;
    width: 100px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

#results-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movie-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-poster {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.movie-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.movie-year {
    font-size: 16px;
    margin-bottom: 10px;
}

.more-info-btn {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.more-info-btn:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    #search-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .movie-card {
        margin-bottom: 20px;
    }
}
